extends layout

block content
  form(id="chat")
    select(id="selectRoom")
      option(disabled selected value) Salas de Chat
      option(value="all") Sala de chat All
      -for(var i = 1;i<10;i++){
      option(value=i) Sala de chat #{i}
      -}
    div(id="chatBox") #{text}

    label Autor
    input(type="text" id="autor" placeholder="")
    br
    label Mensaje
    input(type="text" id="msg" placeholder="")
    input(type="submit" value="Enviar")
    

    script(src="/socket.io/socket.io.js")
    script(type='text/javascript' src='/js/chat.js')
